.lista-suspensa{
    margin: 24px 0;
}

.lista-suspensa label{
    color: #212121;
    display: block;
    font-family: var(--font-Montserrat);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.lista-suspensa select{
    background-color: #FFF;
    border: none;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color:#212121;
    font-family: var(--font-Montserrat);
    font-size: 16px;
    padding: 30px 21px;
    width: 100%;
}